*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-top: 47px;
    margin-left: 42px;
}

.link-header{
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #17233D;
letter-spacing: .875px;
text-align: center;
margin-right: 32px;
cursor: pointer;
}

.button-header {
background: #6FBF44;
border-radius: 6px;
border: 1px solid #4CB538;
width: 124px;
height: 51px;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 1px;
color: #FFFFFF;
cursor: pointer;
}

.logo-image{
  margin: 163px 0 0 123px;
  display: inline-block;
}

section{
display: inline-block;
margin-left: 85px;
width: 493px;
}

h1{
font-weight: 700;
font-size: 62px;
line-height: 82px;
color: #161A49;
letter-spacing: 0.6px;
}

p {
font-weight: 400;
font-size: 18px;
line-height: 33px;
color: #4B505A;
margin-top: 47px;
margin-bottom: 55px;
}

.button-main {
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 1px;
color: #6FBF45;
cursor: pointer;
background: transparent;
border: none;
}